html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

body {
  background-size: cover;
  background-image: url("./images/background_image.jpg");
  margin: 0;
  font-family: sans-serif;

}
